<% if @user.errors.any? %>
 <%= @user.errors.count %>error prohibited this obj from being saved:
 <ul>
  <% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
 </ul>
<% end %>

<div class="container">
<div class="row justify-content-center">
<div class="col-lg-3">
<h1>User info</h1>
<%= form_with model:@user do |f| %>
 <p>Name</p>
  <%= f.text_field :name %>
 <p>Image</p>
  <%= f.file_field :profile_image %>
 <p>Introduction</p>
  <%= f.text_field :introduction %>
 <p></p>
 <%= f.submit "update book", class: "btn btn-secondary" %>
<% end %>
</div>
</div>
</div>

<footre>
 <div class="container">
  <div class="row justify-content-center">
   <div class="md-12">
    <p></p>
    <p></p>
    <p></p>
    <p>CopyRight Infratop.inc</p>
   </div>
  </div>
 </div>
</footre>

