<h1>User info</h1>
 <%= image_tag @indexuser.get_profile_image(100,100) %>
<table>
 <thead>
  <tr>
   <th>name</th>
   <th><%= @indexuser.name %></th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>introducion</th>
   <th><%= @indexuser.introduction %></th>
  </tr>
 </tbody>
 <%= link_to "編集", edit_user_path(@indexuser.id) %>
</table>

<h1>New book</h1>
 <%= form_with model: @book do |f| %>
   <h4>Title</h4>
    <%= f.text_field :title %>
   <h4>Opinion</h4>
    <%= f.text_area :body %>
   <%= f.submit 'create book' %>
 <% end %>

<h2>Users</h2>
<table>
 <thead>
  <tr>
   <th>image</th>
   <th>name</th>
  </tr>
 </thead>
 <% @user.each do |user| %>
 <tbody>
  <tr>
    <th><%= image_tag user.get_profile_image(100,100) %></th>
    <th><h3><%= user.name %></h3></th>
    <th><p><%= link_to "show", user_path(user.id) %></p></th>
  </tr>
 </tbody>
 <% end %>
</table>
