<h1>User info</h1>


<h1>New book</h1>
 <%= form_with model: @book do |f| %>
   <h4>Title</h4>
    <%= f.text_field :title %>
   <h4>Opinion</h4>
    <%= f.text_area :body %>
    <%= f.submit 'create book' %>
 <% end %>

 <table>
  <thead>
   <tr>
    <th>Title</th>
    <th>Opinion<th>
   </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
   <tr>
    <span>
     <th><%= link_to book.title, book_path(book.id) %></th>
    </span>
    <th><%= book.body %></th>
   </tr>
  </tbody>
  <% end %>
 </table>

<footre>
 <div class="container">
  <div class="row justify-content-center">
   <div class="md-12">
    <p>CopyRight Infratop.inc</p>
   </div>
  </div>
 </div>
</footre>