<div>
 <%= flash[:notice] %>
</div>

<div class="container">
<div class="row">
<div class="col-md-3">
<h1>User info</h1>
<%= form_with model: @book do |f| %>
 <%= image_tag @book.user.get_profile_image(100,100) %>
<% end %>
<table>
 <thead>
  <tr>
   <th>name</th>
   <th><%= @book.user.name %></th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>introducion</th>
   <th><%= @book.user.introduction %></th>
  </tr>
 </tbody>
</table>
<% if @book.user.id == current_user.id %>
<button type="button" class="btn-outline-secondary btn-block">
 <%= link_to edit_user_path(@book.user.id), class:"text-black" do %>
 <i class="fas fa-user-cog"></i>
 <% end %>
</button>
<% else %>
<button type="button" class="btn-outline-secondary btn-block">
 <%= link_to user_path(current_user.id), class:"text-black" do %>
 <i class="fas fa-user-cog"></i>
 <% end %>
</button>
<% end %>

<h1>New book</h1>
 <%= form_with model: @new_book do |f| %>
   <h4>Title</h4>
    <%= f.text_field :title %>
   <h4>Opinion</h4>
    <%= f.text_area :body %>
   <%= f.submit 'Create Book', class: "btn btn-success"  %>
 <% end %>
 </div>

<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<table class="table">
 <tbody>
  <tr>
   <th>
     <%= image_tag @user.get_profile_image(100,100) %>
   </th>
   <th><%= @book.title %></th>
   <th><%= @book.body %></th>
   <% if @book.user == current_user %>
    <th><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></th>
    <th><%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか？" %></th>
   <% end %>
  </tr>
 </tbody>
</table>
<span><%= link_to @book.user.name, user_path(@user.id) %></span>
</div>
</div>
</div>
</div>
