<div>
 <%= flash[:notice] %>
</div>

<h1>User info</h1>
<%= form_with model: @showuser do |f| %>
 <%= image_tag @showuser.get_profile_image(100,100) %>
<% end %>
<table>
 <thead>
  <tr>
   <th>name</th>
   <th><%= @showuser.name %></th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>introducion</th>
   <th><%= @showuser.introduction %></th>
  </tr>
 </tbody>
 <%= link_to "編集", edit_user_path(@showuser.id) %>
</table>

<h1>New book</h1>
 <%= form_with model: @new_book do |f| %>
   <h4>Title</h4>
    <%= f.text_field :title %>
   <h4>Opinion</h4>
    <%= f.text_area :body %>
   <%= f.submit 'create book' %>
 <% end %>


<h1>Book detail</h1>
<table>
 <tbody>
  <tr>
   <th><%= image_tag @user.get_profile_image(100,100) %></th>
   <span>
    <th><%= link_to @book.user.name, user_path(@user.id) %></th>
   </span>
   <th><%= @book.title %></th>
   <th><%= @book.body %></th>
   <% if @book.user == current_user %>
    <th><%= link_to "Edit", edit_book_path(@book.id) %></th>
    <th><%= link_to "destroy", book_path(@book.id), method: :delete %></th>
   <% end %>
  </tr>
 </tbody>
</table>